body {
    box-sizing: border-box;
    background-image: url(ocean-background-png-hd-ocean-floor-background-png-1280.png);
    background-size: cover;
}

.navbar {
    margin-bottom: 40px;
    padding: 15px 20px;
}

.row {
    margin: 100px 5px;
    width: auto;
}

#submit-btn {
    margin-top: 10px;
}

#buttonLabel {
    font-size: 30px;
    font-weight: bolder;
}

.critterDiv {
    float: left;
    margin: 10px;
}

.topic {
    margin: 0 5px;
    border-radius: 6px;
    color: grey;
}

p {
    font-size: 20px;
    font-weight: bold;
}